<header>
    <div class="headifo">
        <a href="" class="search">
        <i class="iconfont">&#xe680;</i>
            <span>卷皮</span>
            <b>搜索</b>
        </a>
        <img src="image/slide.png" alt="">
    </div>

</header>
<div class="banner">
    <div class="wrap">
        <img src="image/banner1.jpg" alt="">
        <img src="image/banner2.png" alt="">
        <img src="image/banner3.png" alt="">
        <img src="image/banner4.jpg" alt="">
        <img src="image/banner5.jpg" alt="">
    </div>
    <ul class="adtap">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>
<div class="miaosha">
    <ul>
        <li>
            <img src="image/miao1.png" alt="">
        </li>
        <li>
            <img src="image/miao2.png" alt="">
        </li>
        <li>
            <img src="image/miao3.png" alt="">
        </li>
        <li>
            <img src="image/miao4.png" alt="">
        </li>
    </ul>
</div>
<div class="guanggao">
    <div>
        <img src="image/guanggao.png" alt="">
    </div>
</div>
<div class="goodhead">
    <div class="t1">精选单场</div>
    <div>精选单品</div>
</div>
<div class="goodlist">
    <ul id="wrap1">

    </ul>
</div>